rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /userMedia/{userId}/{id}/{document=**} {
      allow read: if request.auth != null && request.auth.uid == userId;
    }
    match /systemMedia/{id}/{document=**} {
      allow read: if request.auth != null;
    }
  }
}