name: my_pet_melody
description: A new Flutter project.

publish_to: "none"

version: 1.0.5+28

environment:
  sdk: ">=2.16.0 <3.0.0"
  # Specify for inference of dependabot
  flutter: ">=3.13.9"

dependencies:
  audioplayers:
  chewie:
  cloud_firestore:
  collection:
  cross_file:
  cupertino_icons:
  device_info_plus: 9.1.1
  dio:
  ffmpeg_kit_flutter: 5.1.0-LTS
  file_picker:
  firebase_analytics:
  firebase_auth:
  firebase_core:
  firebase_crashlytics:
  firebase_messaging:
  firebase_remote_config:
  firebase_storage:
  flutter:
    sdk: flutter
  flutter_facebook_auth:
  flutter_local_notifications:
  flutter_localizations:
    sdk: flutter
  flutter_riverpod:
  flutter_svg:
  font_awesome_flutter:
  freezed_annotation:
  google_sign_in:
  in_app_review:
  intl:
  package_info_plus:
  path:
  path_provider:
  purchases_flutter:
  rxdart:
  share_plus:
  shared_preferences:
  skeletons:
  twitter_login:
  url_launcher:
  video_player:
  video_thumbnail:
  video_trimmer:

dev_dependencies:
  build_runner:
  flutter_test:
    sdk: flutter
  freezed:
  json_serializable:
  mocktail:
  pedantic_mono:
  watcher: ^1.1.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/
    - assets/icon/
  fonts:
    - family: uzura
      fonts:
        - asset: fonts/uzura.ttf
