name: my_pet_melody
description: A new Flutter project.

publish_to: "none"

version: 0.0.2+3

environment:
  sdk: ">=2.16.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter

  cupertino_icons: ^1.0.2
  freezed_annotation: ^2.0.3
  rxdart: ^0.27.3
  flutter_riverpod: ^2.3.6
  intl: ^0.18.0
  shared_preferences: ^2.0.20
  dio: ^5.1.0
  file_picker: ^5.2.6
  path: ^1.8.0
  collection: ^1.15.0
  audioplayers: ^3.0.1
  share_plus: ^6.3.4
  path_provider: ^2.0.9
  firebase_core: ^2.4.0
  firebase_messaging: ^14.0.1
  flutter_local_notifications: ^13.0.0
  url_launcher: ^6.1.10
  ffmpeg_kit_flutter: 5.1.0-LTS
  skeletons: ^0.0.3
  video_trimmer: ^2.1.0
  firebase_storage: ^11.0.1
  firebase_auth: ^4.0.0
  cloud_firestore: ^4.0.1
  chewie: ^1.4.0
  video_player: ^2.6.1
  cross_file: ^0.3.3+2
  video_thumbnail: ^0.5.3
  twitter_login: ^4.3.1
  package_info_plus: ^3.0.0
  font_awesome_flutter: ^10.4.0
  in_app_review: ^2.0.6
  firebase_crashlytics: ^3.3.2
  firebase_analytics: ^10.4.2
  purchases_flutter: ^5.0.0
  flutter_facebook_auth: ^5.0.11
  sign_in_with_apple: ^5.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter

  build_runner: ^2.3.3
  freezed: ^2.3.2
  json_serializable: ^6.6.2
  colomney_lints:
    git:
      url: https://github.com/shotaIDE/ColomneyFlutterLints.git
      ref: main

flutter:
  uses-material-design: true

  assets:
    - assets/images/

  fonts:
    - family: uzura
      fonts:
        - asset: fonts/uzura.ttf
