ffmpeg-python==0.2.0
firebase-admin==7.1.0
Flask==3.1.2
google-cloud-tasks==2.20.0
opencv-python==4.12.0.88
protobuf==6.33.2
pydub==0.25.1
pytest==9.0.1
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.5
# "'HTTPResponse' object has no attribute 'strict'" error occurs, so do not use 2.x series
# See https://stackoverflow.com/questions/76423515/how-to-fix-poetry-error-httpresponse-object-has-no-attribute-strict for details
urllib3==2.6.0
