ffmpeg-python==0.2.0
firebase-admin==6.9.0
Flask==3.1.1
google-cloud-tasks==2.19.3
opencv-python==4.12.0.88
protobuf==6.31.1
pydub==0.25.1
pytest==8.4.1
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.4
# "'HTTPResponse' object has no attribute 'strict'" error occurs, so do not use 2.x series
# See https://stackoverflow.com/questions/76423515/how-to-fix-poetry-error-httpresponse-object-has-no-attribute-strict for details
urllib3==2.5.0
