name: CD / API Develop

on:
  push:
    tags:
      - "function/beta/*"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: function
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - name: Generate env YAML file
        run: echo "${{ secrets.FUNCTIONS_ENV_YAML_BASE64_DEV }}" | base64 -d > .env.dev.yaml
      - name: Generate uncommited function files for dev
        uses: ./.github/actions/generate-uncommited-function-files-dev
        with:
          firebase-service-account-key-json-base64-dev: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_KEY_JSON_BASE64_DEV }}
          cloud-tasks-service-account-key-json-base64-dev: ${{ secrets.CLOUD_TASKS_SERVICE_ACCOUNT_KEY_JSON_BASE64_DEV }}
      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@8254fb75a33b976a221574d287e93919e6a36f70 # v2
        id: 'auth'
        with:
          service_account: ${{ secrets.DEPLOY_FUNCTIONS_SERVICE_ACCOUNT_EMAIL_DEV }}
          workload_identity_provider: ${{ secrets.DEPLOY_FUNCTIONS_WORKLOAD_IDENTITY_PROVIDER_DEV }}
      - name: Deploy detect Functions to Google Cloud
        uses: google-github-actions/deploy-cloud-functions@b418957976ca9302f13bf31bd06aa0256b8263e1 # v2
        with:
          name: 'detect'
          runtime: 'python312'
          memory_mb: 2048
          region: 'asia-east1'
          env_vars_file: 'function/.env.dev.yaml'
          source_dir: 'function'
          project_id: 'colomney-my-pet-melody-dev'
          min_instances: 0
          max_instances: 1
          deploy_timeout: 600
      - name: Deploy submit Functions to Google Cloud
        uses: google-github-actions/deploy-cloud-functions@b418957976ca9302f13bf31bd06aa0256b8263e1 # v2
        with:
          name: 'submit'
          runtime: 'python312'
          memory_mb: 1024
          region: 'asia-east1'
          env_vars_file: 'function/.env.dev.yaml'
          source_dir: 'function'
          project_id: 'colomney-my-pet-melody-dev'
          min_instances: 0
          max_instances: 1
          deploy_timeout: 600
      - name: Deploy piece Functions to Google Cloud
        uses: google-github-actions/deploy-cloud-functions@b418957976ca9302f13bf31bd06aa0256b8263e1 # v2
        with:
          name: 'piece'
          runtime: 'python312'
          memory_mb: 1024
          region: 'asia-east1'
          env_vars_file: 'function/.env.dev.yaml'
          source_dir: 'function'
          project_id: 'colomney-my-pet-melody-dev'
          min_instances: 0
          max_instances: 1
          deploy_timeout: 600
