name: CI/Android

on:
  pull_request:
    branches: [main]

env:
  JAVA_VERSION: "12.x"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    if: ${{ github.actor != 'dependabot[bot]' }}

    steps:
      - uses: actions/checkout@v2

      - uses: ./.github/actions/build-android
        with:
          java_version: ${{ env.JAVA_VERSION }}
          firebase_options_dart_base64_emulator: ${{ secrets.FIREBASE_OPTIONS_DART_BASE64_EMULATOR }}
          firebase_options_dart_base64_dev: ${{ secrets.FIREBASE_OPTIONS_DART_BASE64_DEV }}
