name: CI / API

on:
  pull_request:
    branches:
      - "main"

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  check-impact-functions:
    name: Check impact for functions
    permissions:
      contents: read
    runs-on: ubuntu-latest
    outputs:
      has-changed-related-files: ${{ steps.check-related-files.outputs.any_changed == 'true' }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0
      - name: Check related files
        id: check-related-files
        uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62 # v47
        with:
          files: "function/**"
  test:
    name: Test functions
    permissions:
      contents: read
    needs: check-impact-functions
    if: needs.check-impact-functions.outputs.has-changed-related-files == 'true'
    # Use the same version to the production runtime.
    # https://cloud.google.com/docs/buildpacks/base-images?utm_source=chatgpt.com&hl=ja#python
    runs-on: ubuntu-22.04
    defaults:
      run:
        working-directory: function
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Install dependencies
        # Use the nearest version of FFMpeg installed in the environment
        # on which the production runtime is based.
        # https://cloud.google.com/functions/docs/reference/system-packages#ubuntu_2204
        run: |
          sudo apt-get update
          sudo apt-get install ffmpeg=7:4.4.2-0ubuntu0.22.04.1
      - name: Set up Python
        uses: ./.github/actions/setup-python
        with:
          working-directory: ./function
      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install --ignore-installed -r requirements.txt
      - name: Download samples videos
        uses: ./.github/actions/download-sample-videos
        with:
          sample-videos-zip-url: ${{ secrets.API_TEST_SAMPLE_MOVIES_ZIP_URL }}
      - name: Test
        run: pytest
