name: CI / iOS

on:
  pull_request:
    branches:
      - "main"

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

permissions:
  contents: read
  pull-requests: write

jobs:
  check-changed-files:
    name: Check changed files
    runs-on: ubuntu-latest
    outputs:
      has-changes: ${{ steps.changed-files.outputs.any_changed == 'true' }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Get all test, doc and src files that have changed
        id: changed-files
        uses: tj-actions/changed-files@v39
        with:
          files: |
            ios/**
            .swiftlint.yml
            .tool-versions
            .xcode-version
            pubspec.lock
  build:
    name: Build iOS app
    needs: check-changed-files
    if: needs.check-changed-files.outputs.has-changes == 'true'
    runs-on: macos-13
    steps:
      - uses: actions/checkout@v4
      - name: Setup Flutter
        uses: ./.github/actions/setup-flutter
      - name: Setup Xcode
        uses: ./.github/actions/setup-xcode
      - name: Setup CocoaPods
        uses: ./.github/actions/setup-cocoapods
      - name: Setup Ruby
        uses: ./.github/actions/setup-ruby
      - name: Generate uncommited Flutter files
        uses: ./.github/actions/generate-uncommited-flutter-files
        with:
          firebase-options-dart-base64-emulator: ${{ secrets.FIREBASE_OPTIONS_DART_BASE64_EMULATOR }}
          firebase-options-dart-base64-dev: ${{ secrets.FIREBASE_OPTIONS_DART_BASE64_DEV }}
          firebase-options-dart-base64-prod: ${{ secrets.FIREBASE_OPTIONS_DART_BASE64_PROD }}
      - name: Generate uncommited Flutter files for dev
        uses: ./.github/actions/generate-uncommited-flutter-files-dev
        with:
          dart-defines-json-base64-dev: ${{ secrets.DART_DEFINES_JSON_BASE64_DEV }}
      - name: Generate uncommited iOS files
        uses: ./.github/actions/generate-uncommited-ios-files
        with:
          google-service-plist-base64-dev: ${{ secrets.GOOGLE_SERVICE_PLIST_BASE64_DEV }}
      - name: iOS build
        run: flutter build ios --dart-define-from-file dart-defines_dev.json --no-codesign
  skip-build:
    name: Build iOS app (no need)
    needs: check-changed-files
    if: needs.check-changed-files.outputs.has-changes == 'false'
    runs-on: ubuntu-latest
    steps:
      - name: Skip
        run: echo "No changes in files related building iOS, skipping."
